section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(19, 61, 39, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
}

label {
  text-align: left;
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #ffffff;
}

input,
textarea {
  background-color: transparent;
  border: 2px solid #66cc68;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #8eaa32;
  box-shadow: 0 0 8px rgba(195, 255, 0, 0.6);
}

textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #256f43;
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  transition: all 0.3s ease;
  width: 200px;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #728619;
  box-shadow: 0 4px 10px rgba(180, 204, 73, 0.4);
}
