/* Media query */
@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #040e2c, #263723);
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 0.5em 1em;
  }

  nav ul {
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none; 
  }

  nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
  }

  nav ul li {
    text-align: center;
    padding: 10px;
    background-color: transparent;
  }

  nav li a {
    text-decoration: none;
    color: inherit;
    padding: 8px 12px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    display: block;
    width: 100%; 
    background-color: transparent;
  }

  nav ul li:before,
  nav ul li:after {
    background: #549946;
    filter: none;
  }

  nav ul li:hover {
    color: #000;
  }
}

@media (max-width: 868px) {
  main {
    padding-top: 80px;
  }
  
  .back-to-top {
    bottom: 20px;
    right: 20px;
  }

  /* Profile image styling for mobile */
  .profile-image {
    max-width: 100%; 
    height: auto; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }

  section {
    margin: 20px;
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  input,
  textarea {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    font-size: 18px;
    padding: 10px 0;
  }
}